<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
            <setting name="ShowDownsizerTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCoffeeButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsageCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlreadyDonated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CoffeeHiddenSinceCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoffeeHideCounter" serializeAs="String">
                <value>1</value>
            </setting>
        </Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
            <setting name="RevealCoffeButtonThreshold" serializeAs="String">
                <value>10</value>
            </setting>
        </Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
