<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
            <setting name="Ribbon_ShowDownsizerTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ribbon_ShowCoffeeButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="App_UsageCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coffee_AlreadyBought" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Coffee_HiddenSinceCounter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Coffee_HideCounter" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ribbon_ShowUpdateButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Update_FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="App_Github" serializeAs="String">
                <value>https://kannansuresh.github.io/PowerPoint-Downsizer/</value>
            </setting>
            <setting name="App_Help" serializeAs="String">
                <value>https://kannansuresh.github.io/PowerPoint-Downsizer/</value>
            </setting>
            <setting name="Stat_LayoutsDeleted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stat_MastersDeleted" serializeAs="String">
                <value>0</value>
            </setting>
        </Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
            <setting name="Coffee_ButtonRevealThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="App_Version" serializeAs="String">
                <value>v3.0.0</value>
            </setting>
            <setting name="Update_CheckUrl" serializeAs="String">
                <value>https://aneejian.github.io/Change-Case-Excel-Add-In/update-info.txt</value>
            </setting>
            <setting name="App_Name" serializeAs="String">
                <value>PowerPoint Downsizer Add-In</value>
            </setting>
            <setting name="App_Copyright" serializeAs="String">
                <value>Copyright ©  Aneejian 2021</value>
            </setting>
            <setting name="App_Company" serializeAs="String">
                <value>Aneejian</value>
            </setting>
            <setting name="App_Description" serializeAs="String">
                <value>Add-In to downsize PowerPoint presentations by removing unused layouts and master slides.</value>
            </setting>
            <setting name="App_Homepage" serializeAs="String">
                <value>https://aneejian.com</value>
            </setting>
            <setting name="Coffee_Url" serializeAs="String">
                <value>https://www.buymeacoffee.com/aneejian</value>
            </setting>
            <setting name="App_Page" serializeAs="String">
                <value>https://kannansuresh.github.io/PowerPoint-Downsizer/</value>
            </setting>
        </Aneejian.PowerPoint.Downsizer.AddIn.Properties.Settings>
    </applicationSettings>
</configuration>